<div class="container">
<div class="row">
  <div class="col-sm-12">
    <app-game-control (incrementCount)="onIncrement($event)">></app-game-control>
    <app-odd
      *ngFor="let odd of odds"
      [count] = "odd"
    ></app-odd>
    <app-even
      *ngFor="let even of evens"
      [count] = "even"
    ></app-even>
  </div>
  <!-- <div class="col-sm-12">
    <h2>I'm in the app component!</h2>
    <form>
      <label>Username: </label>
      <input  type="text" name="username" [(ngModel)]="username">
      <button class="btn btn-danger" [disabled]="!username" type="button" name="button" (click)="clearInput()">Clear User</button>
    </form>
    <div *ngIf="username">
      <hr/>
      <h5>Hi {{username}}!</h5>
      <hr/>
    </div>
    <warning-alert></warning-alert>
    <success-alert></success-alert>
  </div> -->
</div>
</div>
